<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Bookid:</strong>
    <%= book.bookId %>
  </p>

  <p>
    <strong>Genreid:</strong>
    <%= book.genreId %>
  </p>

</div>
